
/*------------------------------You-tube blogs section starting------------------------------*/
.youtube-container {
    margin: 50px;
    /*top: 150px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-optical-sizing: initial;
}
.youtube-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative; /* Относительное позиционирование для корректного управления отступами */
    flex-wrap: wrap; /* Чтобы список видео не выходил за пределы экрана и адаптировался */
    /*padding-top: 70px; /* Отступ сверху, чтобы избежать наложения на плеер */
    /*margin-top: 70px; /* Отступ сверху для учета высоты плеера */
}
.change-youtube {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    margin-top:20px;
    margin-bottom:10px;
    border: 6px solid #BFE2FF;
    transition: box-shadow 0.3s linear;
    cursor: pointer;
    background: #BFE2FF;
}
.change-youtube:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
}
.change-youtube span {
    display: block;
    padding: 6px 12px 0 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.change-youtube:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.change-youtube.active {
    border: 6px solid #00b3ff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
    background: #00b3ff;
}

/*---------------------ANIMATED TRANSITION BETWEEN PAGES section starting-----------------------*/
.preloader {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.preloader span {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #FFF;
    transition: 0.4s;
}
.preloader span:nth-child(2) {
    transition-delay: 0.05s;
}
.preloader span:nth-child(3) {
    transition-delay: 0.1s;
}
.preloader span:nth-child(4) {
    transition-delay: 0.15s;
}
.preloader span:nth-child(5) {
    transition-delay: 0.2s;
}
.preloader span:nth-child(6) {
    transition-delay: 0.25s;
}
.preloader span:nth-child(7) {
    transition-delay: 0.3s;
}
.preloader span:nth-child(8) {
    transition-delay: 0.35s;
}
.preloader span:nth-child(9) {
    transition-delay: 0.4s;
}
.preloader.on {
    visibility: hidden;
}
.preloader.on span {
    opacity: 0;
}
.preloader.off span  {
    opacity: 1;
}

/*----------------------------------------Blogs text section starting----------------------------------------*/
.shadow-wrap {
    background: linear-gradient(to right, rgb(113, 167, 239), #b7c2d8, #6969ec); /* Цвет фона */
    padding: 6px 0 40px 0;
    margin: 100px 0 20px 0;
}
.shadow-text {
    box-sizing: border-box;
    margin: 20px 60px;
    padding: 20px 30px;
    box-shadow:
            -9px 17px 9px rgba(0,0,0,0.05),
            -10px 19px 10px rgba(0,0,0,0.05),
            -11px 20px 11px rgba(0,0,0,0.025),
            -12px 22px 12px rgba(0,0,0,0.025),
            -13px 24px 13px rgba(0,0,0,0.025),
            -14px 26px 14px rgba(0,0,0,0.025),
            -15px 28px 15px rgba(0,0,0,0.025),
            -16px 30px 16px rgba(0,0,0,0.025),
            -17px 32px 17px rgba(0,0,0,0.025),
            -18px 34px 18px rgba(0,0,0,0.025),
            -19px 36px 19px rgba(0,0,0,0.025),
            -20px 38px 20px rgba(0,0,0,0.025),
            -21px 39px 21px rgba(0,0,0,0.025);
}
.shadow-text div {
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    color: #FFF; /* Цвет текста */
    text-shadow:
            -1px -1px 0 #FFF, /* Цвет контура */
            1px -1px 0 #FFF, /* Цвет контура */
            -1px 1px 0 #FFF, /* Цвет контура */
            1px 1px 0 #FFF, /* Цвет контура */
            -2px -2px 0 rgba(0,0,0,0.05),
            2px -2px 0 rgba(0,0,0,0.05),
            -2px 2px 0 rgba(0,0,0,0.05),
            2px 2px 0 rgba(0,0,0,0.05),
            -1px 2px 1px rgba(0,0,0,0.15),
            -2px 4px 2px rgba(0,0,0,0.125),
            -3px 6px 3px rgba(0,0,0,0.125),
            -4px 8px 4px rgba(0,0,0,0.1),
            -5px 10px 5px rgba(0,0,0,0.1),
            -6px 12px 6px rgba(0,0,0,0.075),
            -7px 13px 7px rgba(0,0,0,0.05),
            -8px 15px 8px rgba(0,0,0,0.05),
            -9px 17px 9px rgba(0,0,0,0.05),
            -10px 19px 10px rgba(0,0,0,0.05),
            -11px 20px 11px rgba(0,0,0,0.025),
            -12px 22px 12px rgba(0,0,0,0.025),
            -13px 24px 13px rgba(0,0,0,0.025),
            -14px 26px 14px rgba(0,0,0,0.025),
            -15px 28px 15px rgba(0,0,0,0.025),
            -16px 30px 16px rgba(0,0,0,0.025),
            -17px 32px 17px rgba(0,0,0,0.025),
            -18px 34px 18px rgba(0,0,0,0.025),
            -19px 36px 19px rgba(0,0,0,0.025),
            -20px 38px 20px rgba(0,0,0,0.025),
            -21px 39px 21px rgba(0,0,0,0.025);
}
@media (max-width: 767px) {
    .shadow-text {
        margin: 20px;
    }
    .shadow-text div {
        font-size: 30px;
    }
}
hr {
    margin: 30px 0;
    height: 4px;
    background: #BFE2FF;
    position: relative;
    overflow: hidden;
    border: none;
}
hr:after {
    content: "";
    height: 4px;
    background: #337AB7;
    position: absolute;
    width: 20%;
    top: 0;
    animation: anim-hr 5s linear infinite;
}
@keyframes anim-hr {
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

/*----------------------Image car section starting----------------------------*/
.abg-wr-6 {
    position: relative;
    height: 500px;
    margin-top: -20px;
    overflow: hidden;
    background: url(../auto_news_img/auto5.jpg);
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abg-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
}
.abg-6 li {
    position: absolute;
    display: block;
    list-style: none;
    animation: animationbg-6 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-20deg, #ffffff 50%, #0000 50%);
    bottom: 0;
    top: 0;
    left: -50%;
    right: -50%;
    opacity: 0.5;
}
.abg-6 li:nth-child(2) {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
.abg-6 li:nth-child(3) {
    animation-duration: 5s;
}
@keyframes animationbg-6 {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}


/*----------------------header.php----------------------------*/
/*Menu text color will change from black to gold*/
#navbarSupportedContent a {
    color: black; /* Замените "Black" на любой другой цвет, который вам нужен */
}
#navbarSupportedContent a:hover {
    color: #579eea; /* Цвет при наведении на ссылку */
}

/*Website background-color*/
body{
    background: linear-gradient(to right, rgb(110, 173, 211), #dae3f4, #7F7FD5);
    width: 100%;
    height: 100%;
}
