
/*---------------------ANIMATED TRANSITION BETWEEN PAGES section starting-----------------------*/
.preloader {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.preloader span {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #FFF;
    transition: 0.4s;
}
.preloader span:nth-child(2) {
    transition-delay: 0.05s;
}
.preloader span:nth-child(3) {
    transition-delay: 0.1s;
}
.preloader span:nth-child(4) {
    transition-delay: 0.15s;
}
.preloader span:nth-child(5) {
    transition-delay: 0.2s;
}
.preloader span:nth-child(6) {
    transition-delay: 0.25s;
}
.preloader span:nth-child(7) {
    transition-delay: 0.3s;
}
.preloader span:nth-child(8) {
    transition-delay: 0.35s;
}
.preloader span:nth-child(9) {
    transition-delay: 0.4s;
}
.preloader.on {
    visibility: hidden;
}
.preloader.on span {
    opacity: 0;
}
.preloader.off span  {
    opacity: 1;
}

/*----------------------------------Travel section starting-----------------------------------*/
.fix-bg {
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /*margin-top: 80px;*/
}
@media (max-width: 767px) {
    .fix-bg {
        background-attachment: scroll;
        height: 320px;
    }
}

/*----------------------------Menu section starting----------------------------*/
.container-menu{
    text-align: center;
}
.navmenu_2 {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.11);
    position: relative;
    list-style: none;
    padding: 10px 20px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
    border-radius: 40px;
    box-shadow: 10px 20px 30px #00000044;
    border: 4px solid rgb(255, 255, 255);
}
.navmenu_2 li a {
    position: relative;
    padding: 10px 34px;
    font-size: 20px;
    line-height: 1.4;
    border: none;
    color: snow;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}
.navmenu_2 .slide1,
.navmenu_2 .slide2 {
    position: absolute;
    display: inline-block;
    height: 48px;
    border-radius:30px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1.05);
}
.navmenu_2 .slide1 {
    background-color: rgba(128, 128, 128, 0.45);
    z-index: 2;
}
.navmenu_2 .slide2 {
    opacity: 0;
    background: rgba(255, 255, 255, 0.39);
    border: 1px solid #171616;
    z-index: 1;
}
.squeeze {
    transition: all 1.5s;
    transform: scale(0.9);
}
.container-header, body{
    background-image: url(../blog_img/office.jpg);
    height: 400px;
    margin: 0 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}